@using ViewModelTemplate.Models
@model List<ViewModelTemplate.Models.OrderDetails>



<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Order Details for @Model[0].ordNo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <table class="table">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Quantity Ordered</th>
                </tr>
                </thead>
                <tbody>
                @foreach (OrderDetails orderDetail in Model)
                {
                    <tr>
                        <td>@orderDetail.product.ProdName</td>
                        <td>@orderDetail.product.ProdPrice</td>
                        <td>@Model[0].quantity</td>
                    </tr>
                }
                </tbody>
            </table>



        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>